@keyframes flash {
  from {
    background-color: darkgoldenrod;
  }
  to {
    background-color: transparent;
  }
}

.App {
  font-size: 5rem;
}

p {
  margin: 0 0 1rem;

  animation: flash 1s linear;
}

.label {
  display: block;
  font-size: 2rem;

}
